body {
    display: flex;
    flex-direction: column;
    margin: 2%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

main,
aside,
header,
footer {
    background: white;
    padding: 2%;
    margin: 1%;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.flex-row-container {
    display: flex;
    height: 300px;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 50px;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 30px;
}