body {
    background-color: gainsboro;
    margin: 5%;
}

body, li, ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    align-items: stretch;
}

li {
    border: solid 0.4rem black;
    width: 20vw;
    background-color: white;
    margin: 2%;
    padding: 1.5%;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px black, inset 2px 2px 6px black;
}

li img {
    width: 100%;
    object-fit: contain;
    box-sizing: border-box;
}

section.gallery {
    width: 100%;
}