body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}


tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

tr:hover td{
    background-color: black;
    color: white;
}

tr:hover td {
    border-color: black;
}

tr:hover th {
    color: black;
}

table {
    margin: 10%;
    width: 80%;
}

th {
    background-color: rgb(222, 222,222);
}

table,
td,
th {
    text-align: left;
    border-collapse: collapse;
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(222, 222, 222);
}

