body {
    background-color: gainsboro;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 25px;
    display: flex;
    align-items: center;
    flex: 0 0 23.333333%;
}

.gallery-item img {
    border: 0.2em solid #000;
    padding: 25px;
    background-color: white;
}