body {
    margin: 10%;
}

img {
    border: 0.4rem black solid;
    width: 30%;
    margin: 1%;
    padding: 1.5%;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-inline-start: 0%;
}